---
layout: page
title: A propos
footer: false
---

<div id="blog-apropos">
 <article>
  <h2>A PROPOS</h2>
   <p>Jean PALAZUELOS, </p>
   <p>Artisan logiciel</p>
   <p>Membre de l’Agile Toulouse</p>
   <p>Membre du Software Crafsmanship Toulouse depuis 2013</p>
   <p>Membre du Software Crafsmanship depuis 18/03/2015</p>
   <p><a href="https://twitter.com/jeanpalaz" title="Twitter">Twitter</a></p>
   <p><a href="https://gitlab.com/jeanpalaz" title="Gitlab">Gitlab</a></p>
   <p><a href="https://framasphere.org/people/4c0759d0b87e0134f37a2a0000053625" title="Framasphere/Diaspora">jeanpalaz@framasphere.org</a></p>
   <p><a href="https://framapiaf.org/@jeanpalaz" title="Framapiaf/Mastodon">@jeanpalaz@framapiaf.org</a></p>
 </article>
</div>

